{{#if model.immature}}
<h4>{{t "block.immature_blocks"}}</h4>
<table class="table">
  <thead>
    <tr>
        <th>{{t "block.height"}}</th>
        <th>{{t "block.login"}}</th>
        <th>{{t "block.time_found"}}</th>
        <th>{{t "block.variance"}}</th>
        <th>{{t "block.reward"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.immature as |block|}}
      {{partial "blocks/block"}}
    {{/each}}
  </tbody>
</table>
{{else}}
<h3>{{t "block.no_immature_blocks_yet"}}</h3>
{{/if}}
