{{#if model.matured}}
<h4>{{t "block.matured"}}</h4>
<table class="table table-hover table-dark">
  <thead>
    <tr>
        <th>{{t "block.height"}}</th>
        <th>{{t "block.login"}}</th>
        <th>{{t "block.time_found"}}</th>
        <th>{{t "block.variance"}}</th>
        <th>{{t "block.reward"}}</th>
        <th>{{t "block.type"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.matured as |block|}}
      {{partial "blocks/block"}}
    {{/each}}
  </tbody>
</table>
{{else}}
<h3>{{t "block.no_matured_blocks_yet"}}</h3>
{{/if}}
