<div class="container">
  <br/>
{{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
{{high-charts mode=chartMode chartOptions=chartOptions1 content=chartData}}
{{high-charts mode=chartMode chartOptions=shareChart content=chartData}}
      <table class="table table-condensed table-striped">
        <thead >
        <tr class="active">
          <th></th>
          <th>{{t "account.hour"}}</th>
          <th>{{t "account.day"}}</th>
          <th>{{t "account.week"}}</th>
          <th>{{t "account.month"}}</th>
          <th>{{t "account.year"}}</th>
        </tr>
      </thead>
        <tbody>
        <tr>
        <td><span>{{t "account.time"}}</span></td>
        <td><span>{{format-number earnPerHour maximumFractionDigits='2'}} {{config.Unit}}</span></td>
        <td><span>{{format-number earnPerDay maximumFractionDigits='2'}} {{config.Unit}}</span></td>
        <td><span>{{format-number earnPerWeek maximumFractionDigits='2'}} {{config.Unit}}</span></td>
        <td><span>{{format-number earnPerMonth maximumFractionDigits='2'}} {{config.Unit}}</span></td>
        <td><span>{{format-number earnPerYear maximumFractionDigits='2'}} {{config.Unit}}</span></td>
        </tr>
        </tbody>
       </table>
  {{#if model.workers}}
  <h4>{{t "account.your_Workers"}}</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>{{t "account.workers_name"}}</th>
          <th>{{t "account.hashrate"}} / {{t "account.average_aashrate"}}</th>
          <th>{{t "block.blocks"}}</th>
          <th>{{t "account.valid"}} / {{t "account.stale"}} / {{t "account.invalid"}}</th>
          <th>{{t "account.last_share"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in model.workers as |k v|}}
          <tr class="{{if v.offline "warning" "success"}}">
            <td>{{k}}</td>
            <td>{{format-hashrate v.hr}}  {{#if v.w_stat_s}}<i class="fa fa-arrow-up" style="color:rgb(0, 9, 128)" aria-hidden="true"></i>{{else}}<i class="fa fa-arrow-down" style="color:red" aria-hidden="true"></i>{{/if}} / {{format-hashrate v.hr2}}  {{#if v.w_stat}}<i class="fa fa-arrow-up" style="color:rgb(0, 9, 128)" aria-hidden="true"></i>{{else}}<i class="fa fa-arrow-down" style="color:red" aria-hidden="true"></i>{{/if}}</td> 
            <td>{{v.blocks}}</td>
            <td><span class="text-green">{{v.valid}}</span> ({{v.v_per}}%) / <span class="text-yellow">{{v.stale}}</span> ({{v.s_per}}%) / <span class="text-red">{{v.invalid}}</span> ({{v.i_per}}%)</td>
            <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{else}}
    <h3>{{t "account.no_workers_online"}}</h3>
  {{/if}}
  <div class="alert alert-info" role="alert">
 <a href="/api/accounts/{{model.login}}">{{t "account.json_api_url"}}</a>
  </div>
</div>
