<div class="jumbotron-brand">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <h1 style="font-size: 24px">
            <div class="etc-green">
              <strong><span class="logo-2">{{t "pool.info"}}</span></strong>
            </div>
          </h1>
        </div>
      </div>

    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-cube"></i>
          </div>
          <div class="number">
            <h3>{{t "home.blockheight"}}</h3>
            <div>
              <span>{{format-number stats.height}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-hourglass-half"></i>
          </div>
          <div class="number">
            <h3>{{t "home.blocktime"}}</h3>
            <div>
              <span>{{format-number stats.blockTime}} s</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-tachometer"></i>
          </div>
          <div class="number">
            <h3>{{t "home.network_hashrate"}}</h3>
            <div>
              <span>{{format-hashrate stats.hashrate}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-puzzle-piece"></i>
          </div>
          <div class="number">
            <h3>{{t "home.difficulty"}}</h3>
            <div>
              <span>{{with-metric-prefix stats.difficulty}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-users"></i>
          </div>
          <div class="number">
            <h3>{{t "home.miners"}}</h3>
            <div>
              <span>{{format-number stats.model.minersTotal}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <div class="number">
            <h3>{{t "home.lastfound"}}</h3>
            <div>
              {{#if stats.model.stats.lastBlockFound}}
              <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span>
              {{else}}
              <span>{{t "home.no_block_found"}}</span>
              {{/if}}
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-tachometer"></i>
          </div>
          <div class="number">
            <h3>{{t "home.pool_hashrate"}}</h3>
            <div>
              <span>{{format-hashrate stats.model.hashrate}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-percent"></i>
          </div>
          <div class="number">
            <h3>{{t "home.round_luck"}}</h3>
            <div>
              <span>{{format-number stats.roundVariance style='percent'}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-percent"></i>
          </div>
          <div class="number">
            <h3>{{t "home.pool_fee"}}</h3>
            <div>
              <span>{{config.PoolFee}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-cube"></i>
          </div>
          <div class="number">
            <h3>{{t "home.blockreward"}}</h3>
            <div>
              <span>{{config.BlockReward}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa-cube"></i>
          </div>
          <div class="number">
            <h3>{{t "home.reward"}}</h3>
            <div>
              <span>{{#if (eq config.Currency 'USD') }} {{ format-ethusd config.Blockpreis model.exchangedata.current_price }}
                        {{else}}
                        {{ format-ethinr config.Blockpreis model.exchangedata.price_inr }}
                        {{/if}}</span>
            </div>
          </div>
        </div>
      </div>

     <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 stat-holder">
        <div class="display">
          <div class="icon">
            <i class="fa fa fa-money"></i>
          </div>
          <div class="number">
            <h3>{{t "home.price"}}</h3>
            <div>
              <span>${{model.exchangedata.current_price}}</span>
            </div>
          </div>
        </div>
      </div>


       </div>
        </div>

<div class="container">
  <div class="stats">
    <h3>{{t "home.query_history"}}</h3>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder=(t "home.input.enter_your_wallet_address")}}
      <span class="input-group-btn">
        <button class="btn btn-primary btn-etc" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> {{t "home.button.lookup"}}</span>
      </button>
      </span>
    </div>
  </div>
  <div>
  
<div class="container">
<div class="col-md-6">
  <h4 class="note note-info text-center">
     <span class="text-blue"><i class="fas fa-chart-bar" style="font-size:48px;">  {{t "home.poolhashrate"}}</i></span>
  {{high-charts mode=mode chartOptions=chartOptions content=chartData}}
  </h4>
 </div>

  
  <div class="col-md-6">
  <h4 class="note note-info text-center">
     <span class="text-orange"><i class="fas fa-chart-bar" style="font-size:48px;">  {{t "home.networkdifficulty"}}</i></span>
  {{high-charts mode=mode chartOptions=chartDiff content=chartData}}
  </h4>
  </div>
  </div>
      
    {{#if (equals config.Network 'mordor')}}
      <div class="bs-callout bs-callout-danger">
        <h4>
          Warning
        </h4>
        <p>This is an experimental pool running on the <strong>Mordor</strong> testnet! All mined coins are for testing purposes only.</p>
      </div>
    {{/if}}
    <div class="jumbotron">
      <div class="container">
        <h3 class="text-center" style="padding: 0 0 5px 0; margin: 0 0 40px 0;">{{t "home.instructions"}}</h3>
        <div class="row">
          <div class="col-md-12">
            <p class="lead text-center">
              <a href="#/help" class="ul-link">
                <span class="ul ul-danger">{{t "home.connection"}}</span><br/>
                <br/>
                </a>
                <code>{{config.StratumHost}}:{{config.StratumPort2b}} (Port: Low)</code><br />
                <code>{{config.StratumHost}}:{{config.StratumPort17b}} (Port: High)</code>
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
